@charset
    *{
        height: 100%;
    }

    @font-face {
        font-family: london;
        src: url(old_london/OldLondon.ttf) format('opentype'), url(old_london/Olondon_.otf) format('truetype');
    }
    body{
        background-image: linear-gradient(to right, #695326, #FFB338, #FFB45C);
        text-align: center;
        font-family: london;
        font-weight: 400;
    }
main {
    background-color: #FFE4A8;
    border-radius: 30px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
    padding: 10px;
}